.App {
  text-align: center;
  background: url('image.png') center fixed no-repeat;
  background-size: cover;
  padding: 20px;
  min-height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 0; /* Adjust to remove extra space at the top */
  margin-bottom: 20px; /* Space below the title */
  font-size: 1.5em;
  color: #000080; /* Dark blue color */
  text-align: center; /* Center the title */
}

form {
  background: url('formback.jpeg') center fixed no-repeat; /* Set background image */
  background-size: cover; /* Ensure the image covers the entire form */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  text-align: left;
  border: 3px solid #000080; /* Dark blue border for the container (thicker) */
}

.form-field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #000080; /* Dark blue color for labels */
}

input {
  width: 95.5%;
  padding: 10px;
  margin-right: 10px;
  font-size: 14px; /* Reduced font size */
  border: 1px solid #004d00; /* Dark green border for input fields */
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #61dafb;
  box-shadow: 0 0 8px rgba(97, 218, 251, 0.2);
}

input.input-error {
  border-color: red;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #0d0d77; /* Dark blue color */
  border: 2px solid #000080; /* Dark blue border for the button */
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #005f99; /* Darker blue on hover */
  box-shadow: 0 4px 12px rgba(33, 161, 241, 0.3);
}

button:focus {
  outline: none;
  box-shadow: 0 4px 12px rgba(33, 161, 241, 0.5);
}

.success-message {
  color: green;
  font-size: 18px;
  margin-top: 20px;
  background-color: #e6ffe6;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b3ffb3;
}

@media (max-width: 600px) {
  form {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }

  label {
    font-size: 12px; /* Smaller labels for smaller screens */
  }

  input {
    font-size: 13px; /* Reduced font size for smaller screens */
    padding: 8px;
  }
}
